In [ ]:
import pandas as pd
df=pd.read_csv("Myntra_Fasion_Clothing.csv",index_col=0)#file_name
dff=[tuple(map(str,i)) for i in df.to_records()]


import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="System",
  database="student" # database name
)

mycursor = mydb.cursor()
mycursor.execute("create table if not exists Myntra_Fasion_Clothing (URL varchar(255),Product_id varchar(255),BrandName varchar(255),Category varchar(255),Individual_category varchar(255),category_by_Gender varchar(255),Description varchar(255),DiscountPrice varchar(255),OriginalPrice varchar(255),DiscountOffer varchar(255),SizeOption varchar(255),Ratings varchar(255),Reviews varchar(255))") #table name and column name with data type
sqll = "INSERT INTO Myntra_Fasion_Clothing VALUES (%s, %s,%s, %s,%s,%s, %s,%s, %s,%s,%s, %s,%s)" #table anme with no of %s
val = dff
mycursor.executemany(sqll, val)

mydb.commit()
mydb.close()

print(mycursor.rowcount, "was inserted.")

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="System",
  database="student"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Myntra_Fasion_Clothing")

myresult = mycursor.fetchall()

columns =mycursor.description
name=[ i[0] for i in columns] 
import pandas as pd
df=pd.DataFrame(myresult)
df.columns=name
df

In [ ]:
import numpy as np
import pandas as pd
#for interactivity
from ipywidgets import interact

In [ ]:
print("shape of the dataset :",df.shape)

In [ ]:
df.head(10)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df["DiscountPrice"]=df["DiscountPrice"].astype(np.float)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df=df.dropna()
df

In [ ]:
df[df.duplicated()]

In [ ]:
import os
os.getcwd()

In [ ]:

df=pd.read_csv('C:\\Users\\Deepak Sharma\\Documents\\Myntra_Fasion_Clothing.csv')
df